.account-details {
    display: flex;
    flex-direction: row;
    background: var(--base-bg-three);
    border-radius: 1rem;
}

.cover-photo {
    width: 100%;
    height: 200px;
    overflow: hidden;
    border-bottom: 2px solid var(--border-main-dark);
    background-image: url('../uploads/covers/default.svg');
    background-repeat: repeat-x; /* Repeats horizontally */
    background-size: auto 100%; /* Keeps original width but stretches height */
    background-position: center;
}

.cover-photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile-content-wrapper {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-top: 1rem;
}

.profile-details {
    display: flex;
    flex-direction: row;
    border-radius: 8px;
    justify-content: space-between;
    background: var(--base-bg-three);
    padding-left: 0.6rem; padding-right: 0.6rem;
}

.profile-level-container {
    display: flex;
    flex-direction: column;
    background: var(--base-bg-two);
    height: fit-content;
    padding: 1rem;
    width: 280px;
    border-radius: 1rem;
}

.profile-comment-item {
    background: var(--base-bg-three);
    padding: 0.6rem;
    margin-bottom: 10px;
    border: 1px solid var(--border-main-dark);
    color: var(--text-light);
    border-radius: 1rem;
}

.post-item h3 {
    margin: 0;
    font-size: 1.2rem;
}

.post-item p {
    font-size: 0.9rem;
    color: #555;
}

.account-information {
    display: flex;
    flex-direction: column;
    gap: 8px; 
    color: var(--text-light);
}

.account-picture {
    background-image: url('../assets/logo.png'); 
    background-size: contain; 
    background-repeat: no-repeat;
    background-position: center; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 128px; 
    width: 128px; 
    overflow: hidden; 
    border: 1px solid var(--border-main-dark);
    border-radius: 1rem;
}

.profile-picture {
    background-image: url('../assets/logo.png'); 
    background-size: contain; 
    background-repeat: no-repeat;
    background-position: center; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 160px; 
    width: 160px; 
    overflow: hidden; 
    border-radius: 1rem;
    position: relative;
    top: -5rem;
}

.account-img {
    height: 73%; 
    width: auto; 
    border-radius: 50%; 
    object-fit: cover; 
}

.acc-bg {
    height: auto;
    width: 120px;
    background-color: #e1e1e1;
    opacity: 0.8;
    background-image:  linear-gradient(#ffffff 2px, transparent 2px), linear-gradient(90deg, #ffffff 2px, transparent 2px), linear-gradient(#ffffff 1px, transparent 1px), linear-gradient(90deg, #ffffff 1px, #e1e1e1 1px);
    background-size: 50px 50px, 50px 50px, 10px 10px, 10px 10px;
    background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
}

.acc-info {
    border-bottom: 1px solid rgb(114, 114, 114);
    padding-bottom: 8px;
}

.level-container {
    width: 250px;
    text-align: center;
}

.progress-bar {
    width: 100%;
    height: 10px;
    background-color: var(--text-dark);
    border-radius: 5px;
    margin: 5px 0;
    overflow: hidden;
}

.progress {
    height: 100%;
    background: linear-gradient(to top, var(--chiase-color-dark), var(--chiase-color-light)); 
}

.profile-info-container {
    height: 80px;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.profile-posts-wrapper {
    flex-grow: 1;
}