.header {
    position: fixed;
    top: 0;
    z-index: 2000;
    background-color: var(--base-bg-three);
    color: white;
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: space-between;
    width: calc(100% - 2rem);
    border-bottom: 2px solid var(--border-main-dark);
    background-size: cover; /* Ensures it covers the entire header */
    background-position: left center; /* Center it horizontally */
    background-repeat: no-repeat; /* Prevent repetition */
    background-position-y: center; /* Move up or down */
}

.header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: url('../assets/usc.jpg') no-repeat center; */
    background-size: cover;
    opacity: 0.1; /* Adjust opacity */
    z-index: -1; /* Keep it behind content */
}

.branding {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
}

.header-nav-links {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.link-wrapper {
    padding-right: 1rem;
    padding-left: 1rem;
    height: 100%;
}

.link-wrapper a {
    text-decoration: none;
    color: var(--text-light);
    position: relative;
    transition: all 0.3s ease;
}

.link-wrapper a:hover {
    color: var(--chiase-color-dark);
}

 .link-wrapper a:hover::after {
    content: '';
    position: absolute;
    bottom: -22px;
    left: 0;
    width: 100%;
    height: 4px;
    background: var(--chiase-color-light);
    opacity: 1;
    transform-origin: center;
    transition: all 0.1s;
} 

.link-wrapper a::after {
    content: '';
    position: absolute;
    bottom: -22px;
    left: 0;
    width: 100%;
    height: 4px;
    background: var(--chiase-color-light);
    opacity: 0;
    transform-origin: center;
    transition: all 0.1s;
}

.user-info {
    color: var(--text-light);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.7rem;
    padding: 0.6rem;
    transition: background 0.1s;
    border-radius: 1rem;
}

.user-info:hover {
    background: var(--text-dark);
}

.user-details {
    display: flex;
    flex-direction: column;
}

.user-details > a {
    text-decoration: none;
    color: var(--chiase-color-light);
}

.user-details > a:hover {
    text-decoration: underline !important;
}

.header-account-picture {
    height: auto;
    object-fit: contain;
    width: 40px;
    border-radius: 50%;
}

#header-search-form {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

.header-search-wrapper {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
}

.header-search-input {
    width: 100%;
    padding: 8px 8px 8px 32px; /* Left padding for icon */
    border: 1px solid var(--border-main-dark);
    border-radius: 2rem;
    outline: none;
    color: var(--text-light);
}

.search-icon {
    position: absolute;
    left: 10px;
    color: #888;
    font-size: 14px;
}

.clear-search {
    position: absolute;
    right: 10px;
    color: #888;
    font-size: 14px;
    cursor: pointer;
    display: none; /* Hidden by default */
}

.search-results-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.search-results-content {
    position: relative;
    margin: 50px auto;
    width: 80%;
    max-width: 600px;
    background: var(--base-bg-two);
    padding: 20px;
    border-radius: 5px;
    max-height: 80vh;
    overflow-y: auto;
}

.search-close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    background: none;
    font-size: 24px;
    cursor: pointer;
}

.search-results-list {
    color: black;
    display: flex;
    flex-direction: column;
}

.profile-name {
    font-size: 1.5rem; /* 24px */
    line-height: calc(2 / 1.5); /* 1.333 */
}

.profile-username {
    color: var(--text-light);
    font-size: 1rem; /* 16px */
    line-height: calc(1.5 / 1); /* 1.5 */
}

.header-account-container img {
    cursor: pointer;
}

.header-account-container {
    position: relative;
    transition: 0.1s opacity;
}

.header-account-container img:hover {
    opacity: 0.8;
}

.account-modal {
    display: none;
    position: absolute;
    top: 45px; 
    right: 0;
    background-color: var(--base-bg-two);
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    border-radius: 4px;
    padding: 0.6rem;
    z-index: 1000;

}

.account-modal-content {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    padding: 0.4rem;
    min-width: 260px;
}

.modal-item {
    color: var(--text-light);
    text-decoration: none;
    display: block;
    display: flex;
    flex-direction: row;
    gap: 0.6rem;
    align-items: center;
    transition: all 0.2s;
    border-radius: 1rem;
    padding: 0.6rem;
}

.modal-item:hover {
    background-color: var(--text-dark);
}